body {
    background: linear-gradient(145deg,rgb(14, 13, 13),gray,white);
    margin: 0;
    padding: 20px;
}

.cv {
    display: flex;
    margin: 30px;
    background: linear-gradient(30deg,rgb(26, 25, 25),gray,rgb(194, 193, 193));
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}

/* colonne gauche */
.left {
    background: linear-gradient(156deg,rgb(31, 31, 32),rgb(65, 65, 68),rgb(182, 183, 189));
    color: white;
    width: 19%;
    padding: 15px;
}

.left h2 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.photo img{
    width: 200px;
    border-radius: 30%;
    display: block;
    margin: auto;
}

/* barres de langues */
.bar {
    background: aliceblue;
    height: 6px;
    margin-bottom: 10px;
}

.level {
    height: 6px;
    background: #00c6ff;
}

.mlg {
    width: 90%;
}
.fr {
    width: 70%;
}

/* colonne droite */
.right {
    width: 65%;
    padding: 30px;
}

.right h1 {
    margin-top: 0;
}

section {
    margin-bottom: 20px;
    color: black;

}
@media (max-width:1000px) {
    .cv {
        flex-direction: column;
    }
    .gauche,
    .droit {
        width: 100%;
    }
}
