.anjara-section {
  background: linear-gradient(220deg, #007bff, #ffffff);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-family: sans-serif;
  color: #24609f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .cerle {
    width: 250px;
    height: 240px;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 0px;
  }
  .img_portfolio {
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 0px;
    border: #aeebfa 5px;
    border-style: solid;
    height: 200px;
    border-color: (#007bff, #ffffff);
  }

  .titre {
    text-decoration: unset black dotted;
    color: #24609f;
  }

  .titre h2 {
    color: #1e4e7f;
  }
  .titre .Nom {
    color: #03376c;
  }
  .citation {
    color: blue;
    text-align: center;
  }
  .content {
    overflow: hidden;
    text-align: center;
    color: black;
  }

  .My_philosophie {
    background: linear-gradient(220deg, #007bff, #ffffff);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    text-align: center;
    margin-top: 30px;
  }
  .My_portfolio {
    text-decoration: unset black dotted;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .My_portfolio .menu {
    font-size: large;
    margin-right: 40px;
    display: flex;
    gap: 50px;
  }
  .profil {
    color: black;
  }
  .intro {
    background: linear-gradient(180deg, #007bff, #ffffff);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
  }

  .btn {
    /* background-color: #f3f5f7; */
    text-decoration: none;
  }

  .Mycv {
    background: linear-gradient(180deg, #007bff, #ffffff);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 152px;
    padding: 0 0 10px;
    text-align: center;
  }
}
