.faniry-section {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
  }
  .profil img {
    display: block;
    border-radius: 50%;
    margin-top: 70px;
  }
  .profilbox {
    padding: 15px;
    margin: 15px 80px;
    border-radius: 20px;
    border: 7px solid black;
    background-color: rgb(234, 86, 0);
    color: black;
    margin-bottom: 40px;
    box-shadow: 7px 6px 1px rgba(0, 0, 0, 0.578);
  }
  .grid img {
    justify-self: center;
    width: 90%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .grid-container h2 {
    font-family: "swis721 blk bt";
    font-size: 3em;
    padding: 20px 0;
  }
  .grid-container p {
    font-size: 2em;
    margin-top: 15px;
  }
  .bt a {
    background: linear-gradient(to left, #ffffff, #ccc);
    padding: 20px;
    margin-left: 125px;
    text-decoration: none;
    color: black;
    font-family: "swis721 blk bt";
    text-transform: uppercase;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 7px 6px 1px rgba(0, 0, 0, 0.578);
  }
  .bt a:hover {
    transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    padding: 25px;
    border-radius: 25px;
  }
}
