.lahatra-section {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2.5rem;
  height: 416px;
  position: relative;
  padding: 2rem;
  margin-top: 4%;
}

.lahatra-section .laatr-information {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  flex-direction: column;
}

.lahatra-section .laatr-information h1 {
  font-size: 28px;
  color: var(--color-primary-dark);
  font-family: var(--ff-playfair-display);
  margin-bottom: 0.8rem;
}

.lahatra-section .laatr-information p {
  font-size: 18px;
  font-family: var(--ff-poppins);
  color: var(--color-glossy-black);
}

.lahatra-section .laatr-information p:last-child {
  margin-top: 4px;
}

.lahatra-section .laatr-information .btn-laatr {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 0.3rem;
  background-color: var(--color-deep-black);
  color: var(--color-off-white);
  font-weight: 800;
  letter-spacing: 1px;
  font-family: var(--ff-poppins);
  border: 2px solid transparent;
  position: relative;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.lahatra-section .laatr-information .btn-laatr::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-off-white);
  display: inline-block;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  position: absolute;
  z-index: 0;
}

.lahatra-section .laatr-information .btn-laatr:hover::before {
  transform: translateX(0);
}

.lahatra-section .laatr-information .btn-laatr:hover {
  color: var(--color-deep-black);
}

.btn-laatr span {
  position: relative;
  z-index: 1;
}

.lahatra-section .perso-img {
  position: relative;
}

.lahatra-section .perso-img img {
  height: 350px;
  border-radius: 0.4rem;
}

.lahatra-section::before {
  content: "";
  width: 100%;
  height: 70%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background-color: var(--color-green-topic);
  border: 6px dashed var(--color-deep-black);
}

.lahatra-section::after {
  content: url(./assets/design_photos/rectangle_design.png);
  position: absolute;
  bottom: 0;
  left: 3%;
  transform: translateX(-50%);
  z-index: -2;
  filter: blur(100px);
}
