body{
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif
}
.partie{
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 26, 80);
    height: 250px;
    color: white;
    border-radius: 0px 0px 100px 0px;
    padding: 10px;
}
.partie1 img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 20px;
}
.partie2{
    justify-content: end;

}
.part1{
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 78);
    color: white;
    height: 600px;
    width: 300px;
    padding-left: 20px;
    border-radius: 0px 100px 0px 0px;
}
.part{
    display: flex;
    justify-content: space-between;
}
.PARTI{
    width: 800px;
    justify-content: center;
    border: 1px solid rgb(25, 25, 77);

}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.langue ul li{
    list-style-type: none;
    margin-left: -40px;

}
.part2{
    margin-left: 100px;
}
.partie2{
    padding-right: 20px;
    padding-top: 20px;
}

