.mika-section {
  font-family: Arial, Helvetica, sans-serif;
  /* background: linear-gradient(blue); */
  background-color: rgb(28, 28, 91);

  .partie {
    display: flex;
    justify-content: space-between;
    margin: 150px;
    margin-top: 100px;
  }

  .partie1 {
    color: white;
  }

  .partie2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 40px;
    margin-top: 40px;
    transition: transform 1s ease;
    font-size: 17px;
  }
  button:hover {
    transform: scale(120%);
  }
  .partie2 img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px black;
  }
  .titre {
    color: white;
    margin-left: 50px;
    text-decoration: underline;
    transition: transform 1s ease;
  }
  .titre:hover {
    /* transform: scale(120%); */
  }
}
