body {
    font-family: Arial, Helvetica, sans-serif; 
    background: linear-gradient(to top,rgb(96, 95, 95),white);
margin: 0;
padding: 20px;
height: 100vh;
}
.cv {
    display: flex;
max-width: 900px;
margin: auto;
background: linear-gradient(to Arial,rgb(117, 116, 116),white);
box-shadow: 0 0  10px rgba(0, 0, 0 ,0, 1);
flex-direction: row;
    display: table-row-group;
    position: absolute;
}
/*COLONNE GAUCHE */


.photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.left h3 {
    border-bottom: 2pxs solid #ccc;
    padding-bottom: 5px;
}
.left ul {
    padding-left: 20px;
}
/*COLONNE DROITE*/
.right {
    width: 50%;
    padding: 163px;
    padding-top: 20px;
    padding-left: 321px;
}

header h1 {
    margin: 0;
}
header h2 {
    margin-top: 5px;
    color: gray;
}
.right h3 {
    background: #e6e6e6;
    padding: 5px;
}