.riad-section {
    font-family: Arial, sans-serif;
    background-color: gray;

    .container-riad {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .photo-riad {
        width: 30%;
    }
    .photo-riad img {
        display: block;
        width: 100%;
        border: 3px solid rgb(10, 255, 210);
        box-shadow: 0 0 10px 8px rgb(10, 255, 210);
        border-radius: 50%;
    }
    .description-riad {
        width: 70%;
        padding-left: 20px;
    }
    h1.title {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 100px;
    }
    p {
        font-size: 1.2rem;
        color: #666;
        margin-bottom: 50px;
    }
    .btn-riad {
        margin-top: 50px;
        margin-left: 245px;
    }
    a {
        border-radius: 15px;
        padding: 20px;
        background: #fff;
        color: black;
        text-decoration: none;
    }    
}
