:root {
  --color-primary-light: #fff;
  --color-primary-dark: #383838;
  --color-glossy-black: #252324;
  --color-deep-black: #050203;
  --color-off-white: #f1f1f1;
  --ff-playfair-display: "Playfair Display", arial;
  --ff-poppins: "Poppins", sans-serif;
  --color-green-topic: #bef8cf;

  /* z index  */
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #f2f2f2, #f3f3f3);
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, #8f8f8f80, transparent);
  bottom: 0;
  z-index: 1;
}

.hero .bcg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  filter: blur(8px);
}

.hero .bcg-img #polygon {
  position: absolute;
  bottom: 0.8rem;
  transform: scale(0.6) rotate(45deg);
  left: -0.5rem;
}

.hero .bcg-img #rectangle_design {
  position: absolute;
  top: 25%;
  right: 4rem;
  transform: scale(0.6) rotate(45deg);
}

.hero .bcg-img #rectangle_rounded {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: scale(0.6) rotate(45deg) translateX(-50%);
}

.hero .bcg-img #circle {
  position: absolute;
  top: 8rem;
  left: 12rem;
  transform: scale(0.6) rotate(45deg) translate(-50%);
}

.hero .hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.hero .hero-content h1 {
  font-size: 4.2rem;
  color: var(--color-glossy-black);
  font-family: var(--ff-playfair-display);
}

.invert {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--color-deep-black);
}

.hero .hero-content p {
  font-size: 26px;
  font-family: var(--ff-poppins);
  color: var(--color-glossy-black);
}

.hero-btn {
  font-size: 18px;
  font-family: var(--ff-poppins);
  background-color: var(--color-deep-black);
  text-decoration: none;
  padding: 12px 20px;
  color: var(--color-off-white);
  border-radius: 10rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s ease-in-out;
  border: transparent 2px dashed;
}

.hero-btn::before {
  content: "";
  width: 0%;
  height: 100%;
  object-position: left;
  background-color: var(--color-off-white);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: 0;
  border-radius: 10rem;
}

.hero-btn:hover::before {
  width: 100%;
}

.hero-btn:hover {
  color: var(--color-deep-black);
}

.hero-btn .btn-text {
  position: relative;
  z-index: 0;
}

.nav-bar {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100vh;
  padding: 0.6rem 1.2rem;
  background-color: var(--color-deep-black);
}

.nav-bar .logo a {
  font-size: 22px;
  color: var(--color-off-white);
  font-family: var(--ff-playfair-display);
  text-decoration: none;
  font-weight: 800;
}

.nav-bar .logo a .invert {
  -webkit-text-stroke: 1px var(--color-off-white);
}

.nav-bar .logo a:hover {
  color: var(--color-primary-light);
}

.nav-bar .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.nav-bar .nav-links .link {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-off-white);
  font-size: 16px;
  text-decoration: none;
  font-family: var(--ff-poppins);
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.nav-bar .nav-links .link::before {
  width: 100%;
  content: "";
  height: 2px;
  border-radius: 1rem;
  background-color: var(--color-off-white);
  position: absolute;
  bottom: -2px;
  transition: 0.1s ease-in-out;
}

.nav-bar .nav-links .link:hover {
  color: var(--color-off-white);
}

.nav-bar .nav-links .link:hover::before {
  bottom: 4px;
}

.team-about-box {
  position: relative;
  height: 100vh;
  display: block;
  background: linear-gradient(to bottom, #8f8f8f4f 20%, transparent);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
}

.team-about-box .team-summary {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5rem;
  position: relative;
  z-index: 1;
}

.team-about-box .grp-photo-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  z-index: 0;

  img {
    border-radius: 0.5rem;
    width: 90px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0px 0px 8px #00000080;
    object-position: center;
    opacity: 0;
  }
}

.team-about-box::before {
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #2523242e, transparent);
}

.team-about-box .team-summary .team-propos {
  width: 850px;
}

.team-about-box .team-summary .team-propos .about-team {
  font-size: 22px;
  font-weight: 200;
  font-family: var(--ff-poppins);
  text-align: center;
}

.team-about-box .bg-outro {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(40px);
  z-index: -1;
}

.team-about-box .bg-outro #rectangle_design {
  position: absolute;
  left: 43px;
  top: 40%;
  pointer-events: none;
  transform: translate(-50%) rotate(45deg);
}

.team-about-box .bg-outro #rectangle_rounded {
  position: absolute;
  right: 0;
  pointer-events: none;
  bottom: 4rem;
  /* transform: translate(-50%) rotate(45deg); */
}

.member-section {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;

  h1 {
    color: var(--color-deep-black);
    font-family: var(--ff-poppins);
    letter-spacing: 1px;
    font-size: 2.8rem;
  }

  .card-container {
    position: relative;
    z-index: 1;

    .card-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.8rem;
      transform: translateY(-16px);
      opacity: 0;
      position: relative;

      .back-dark {
        --btn-bg: var(--color-off-white);
        --btn-color: var(--color-glossy-black);
        --card-name-color: var(--color-off-white);
        --card-f-name-color: #afafaf;
        --img-border-color: var(--color-off-white);
      }

      .back-light {
        --btn-bg: var(--color-glossy-black);
        --btn-color: var(--color-off-white);
        --card-name-color: var(--color-glossy-black);
        --card-f-name-color: #424242;
        --img-border-color: var(--color-deep-black);
      }

      .card-wrapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.4rem;
        text-align: center;
        padding: 16px;
        border-radius: 0.8rem;
        transition: 0.8s;
        height: 280px;
        width: 210px;
        border: 2px solid var(--color-deep-black);
        position: absolute;
        z-index: 1;
      }

      .card-wrapp.active {
        .profil-description {
          height: 60px;
          opacity: 1;
        }

        img {
          margin-bottom: 2.2rem;
        }

        .btn {
          height: 37px;
          opacity: 1;
        }
      }

      .card-wrapp:not(.active) {
        transition: width 0.3s;
        transform: translateX(210px) scale(0.9);
        overflow: hidden;
        filter: blur(0);
        width: 150px;

        .profil-description {
          height: 0;
          opacity: 0;
        }

        img {
          margin-bottom: 0;
        }

        .btn {
          height: 0;
          opacity: 0;
        }
      }

      #lahatra {
        --member-color: var(--color-green-topic);
        background-color: var(--member-color);
        img {
          object-position: center -2rem;
        }
      }

      #mitia {
        --member-color: #6d4bd2;
        background-color: var(--member-color);
      }

      #jonah {
        --member-color: #2f2f6f;
        background-color: var(--member-color);
      }

      #david {
        --member-color: #f5d93d;
        background-color: var(--member-color);
      }

      #anjara {
        --member-color: #739fbf;
        background-color: var(--member-color);
      }

      #riad {
        --member-color: #9578ec;
        background-color: var(--member-color);
      }

      #faniry {
        --member-color: #f0b28e;
        background-color: var(--member-color);
      }

      #mika {
        --member-color: #424242;
        background-color: var(--member-color);
        img {
          object-position: center -2rem;
        }
      }

      #fifa {
        --member-color: #88c3e1;
        background-color: var(--member-color);
      }

      .profil-img img {
        border-radius: 50%;
        width: 120px;
        margin-bottom: 2.2rem;
        height: 120px;
        object-position: top;
        object-fit: cover;
        border: 2px solid var(--img-border-color);
      }

      .profil-description {
        font-family: var(--ff-poppins);
        line-height: 110%;
        margin-bottom: 12px;
        transition: 0.3s;

        .name {
          color: var(--card-name-color);
          font-size: 20px;
          font-weight: 600;
        }

        .f-name {
          color: var(--card-f-name-color);
          margin-top: 6px;
          font-size: 16px;
        }
      }

      .btn {
        transition: 0.3s;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 14px;
        font-family: var(--ff-poppins);
        border-radius: 0.4rem;
        background-color: var(--btn-bg);
        color: var(--btn-color);
        width: 100px;
        position: relative;
      }

      .btn::before {
        content: ">";
        color: var(--btn-color);
        margin-right: 8px;
        transform: translateX(-4px);
        position: absolute;
        left: 0.5rem;
        opacity: 0;
        transition: 0.3s;
      }

      .btn:hover::before {
        opacity: 1;
        left: 1rem;
      }
    }
  }

  .control {
    position: absolute;
    padding: 40px;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    align-items: center;
    width: 100%;
    height: 100%;

    .btn-control {
      font-size: 18px;
      padding: 1rem;
      background-color: var(--color-glossy-black);
      color: var(--color-off-white);
      border-radius: 0.4rem;
      border: none;
      cursor: pointer;
    }
  }

  .blob-div {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .blob-unit {
      width: 150px;
      height: 150px;
      position: absolute;
      border-radius: 50%;
      filter: blur(50px);
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .blob-unit:first-child {
      top: 2.5rem;
      left: 2.5rem;
    }

    .blob-unit:last-child {
      bottom: 2.5rem;
      right: 2.5rem;
    }
  }
}

.working-section {
  height: 100vh;
  background-color: var(--color-off-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.working-section .working-title {
  font-size: 32px;
  font-family: var(--ff-open-sans);
  color: var(--color-glossy-black);
  margin-bottom: 12px;
}

.working-section .language-box {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  background: var(--color-off-white);
  align-items: center;
}

.working-section .language-box .language {
  display: flex;
  width: 700px;
  padding: 1.8rem;
  justify-content: center;
  align-items: start;
  background-color: var(--color-primary-light);
  box-shadow: 0px 0px 8px #00000080;
  position: absolute;
}

.working-section .language-box .language-name {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: var(--ff-poppins);
  font-weight: 600;
  font-size: 40px;
  color: var(--color-deep-black);
}

.working-section .language-box .language-name img {
  width: 60px;
  height: 60px;
}

.working-section img {
  width: 300px;
  height: auto;
}

.working-section .language-box .language-info .sigle {
  text-align: right;
  margin-top: 8px;
  font-size: 18px;
  font-family: var(--ff-poppins);
  font-weight: 600;
  margin-bottom: 12px;
}

.working-section .language-box .language-info p {
  font-size: 16px;
  font-family: var(--ff-poppins);
  font-weight: 400;
}

.working-section .control-btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.working-section .control-btn .line {
  background-color: var(--color-deep-black);
  height: 4px;
  cursor: pointer;
  border-radius: 10px;
  width: 20px;
  transition: 0.3s;
}

.working-section .control-btn .line:hover {
  width: 25px;
}

.working-section .control-btn .line.active {
  width: 35px;
}
