* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #cedee9;
  --secondary-color: #33332a;
  --color-white-fat: #fff;
  --color-off-white: #ffffffb5;
  --color-glossy-black: #252324;
  --color-deep-black: #050203;
  --ff-playfair-display: "Playfair Display", Times;
  --ff-poppins: "Poppins", sans-serif;
  --ff-open-sans: "Open Sans", arial;
}

body {
  height: 100vh;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    var(--primary-color) 50%,
    var(--secondary-color) 50%
  );
  background-repeat: no-repeat;
  overflow: hidden;

  .body-container {
    /* padding: 1.2rem; */
    border-radius: 0.2rem;
    backdrop-filter: blur(3px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    background-color: var(--color-off-white);
    gap: 1.4rem;

    .title {
      color: var(--color-deep-black);
      font-family: var(--ff-playfair-display);
      font-size: 30px;
      letter-spacing: 1px;
      position: relative;
      margin-bottom: 12px;
    }

    .title::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-glossy-black);
      border-radius: 2px;
    }

    .subtitle {
      font-size: 20px;
      font-family: var(--ff-poppins);
      color: var(--color-glossy-black);
    }

    .work-box {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      li {
        position: relative;
      }

      li::before {
        content: "";
        width: 70px;
        height: 1px;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: -10px;
        background-color: var(--color-deep-black);
      }

      li:last-child::before {
        width: 0;
      }

      p {
        font-family: var(--ff-open-sans);
        font-size: 14px;
      }
    }

    .education-section {
      padding: 1.2rem;
      padding-right: 0;
      padding-bottom: 0;
    }

    .profil-wrapper {
      grid-row: span 2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: var(--color-glossy-black);

      .profil-container {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.8rem;

        .intro {
          font-size: 2.4rem;
          color: var(--color-white-fat);
          font-weight: 600;
          width: 100%;
          letter-spacing: 2px;
          font-family: var(--ff-playfair-display);
        }

        img {
          width: 200px;
          object-position: 0px -50px;
          object-fit: cover;
          border-radius: 2rem;
          height: 200px;
        }

        .profil-info {
          text-align: center;
          font-family: var(--ff-poppins);
          color: var(--color-off-white);

          .name {
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 4px;
            display: inline-block;
            color: var(--color-white-fat);
          }

          .f-name {
            font-size: 18px;
            color: var(--color-off-white);
          }
        }

        .contact-box {
          text-align: center;

          li {
            margin-bottom: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0.2rem;
            color: #ecebeb;
            font-family: var(--ff-poppins);

            a {
              color: var(--color-off-white);
              text-decoration: underline;
              font-size: 14px;
              transition: 0.3s;
            }

            a:hover {
              color: #ecebeb;
            }
          }
        }
      }
    }

    .work-experiencies {
      padding: 1.2rem;
      padding-left: 0;
      padding-bottom: 0;
    }

    .skills-container {
      padding: 1.2rem;
      padding-right: 0;
      padding-top: 0;

      ol > li {
        font-weight: 600;
        font-size: 18px;
        font-family: var(--ff-open-sans);
      }

      ol > li:nth-child(3) {
        margin-top: 8px;
      }

      ol ul li {
        font-size: 14px;
        font-family: var(--ff-open-sans);
        margin-left: 8px;
      }
    }

    .hobbies-section {
      padding: 1.2rem;
      padding-left: 0;
      padding-top: 0;

      li {
        font-size: 14px;
        font-family: var(--ff-poppins);
      }
    }
  }
}
