:root{
    --bgcolor:#beb8ac;
    --blue:#2fb7fe;
    --black:#3D3F42;
    --white:#f4f7ff;
    --gray:#d8dce4;
    --lightgray:#8e9095;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
.clearfix{
    clear: both;
}
.resume-box{
    width: 800px;
    height: 1000px;
    margin: 100px auto;
    background: var(--white);
    box-shadow: 5px 21px 20px 20px #3d3f4238;

    display: flex;
}
.left-section{
    background: var(--black);
    width: 388px;
    height: 1000px;
    /* float: left; */
}
.profile{
    overflow: hidden;
    position: relative;

}
.blue-box{
    height: 546px;
    width: 269px;
    background: var(--blue);
    margin-left: -92px;
    transform: rotatez(48deg);
    margin-top: -194px;
}
.profile-img{
    position: absolute;
    z-index: 9;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    left: 49%;
    top: 40%;
    border-radius: 50%;
    border: 3px solid var(--gray);
}
.name{
    color: var(--gray);
    text-align: center;
    margin-top: -60px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.name span{
    color: var(--blue);
}
.n-p{
    width: 229px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
}
.info{
    margin-top: 50px;
}
.heading{
    width: 229px;
    margin: 9px auto;
    text-align: center;
    padding: 2px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 18px;
}
.P1{
    color:var(--white);
    width: 184px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 15px;
    line-height: 14px;
    margin-left: 10px;
}
.p1 span{
    font-size: 13px;
    color: var(--white);
}
.span1 i{
    background: orange;
    width: 30px;
    padding: 9px;
    border-radius: 16px;
    margin-right: 9px;
}
.left-section .info .p1 .span1 {
    padding: 5px 10px;
    width: 68%; 
    height: 1000px;
    margin-bottom: 4px;

}
.right-section{
    padding: 40px 30px;
    background: var(--white);
    width: 68%;
    float: left;
    height: 1000px;
    
}
    
.right-section i{
    margin-right: -6px;
    background: var(--gray);
    width: 31px;
    padding: 7px;
    border-radius: 17px;
    display: inline-block;
    
}
.p2{

    padding: 2px;
    border-bottom: 1px solid var(--lightgray);
    border-top: 1px solid var(--lightgray);
    color: var(--black);
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bolder;
    margin-left: -24px;
    line-height: 32px;
    text-align: center;
    background-color: var(--blue);

}

.left{
    display: list-item;
}

.lr-box{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap:3.5rem;

}

.p4{
    font-family: monospace;
    font-size: 14px;
    font-weight: 600;
    width: max-content;
}

.s-box{
    width: 50%;
    padding: 20px 20px 20px 0px;
}
#progress{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}
#progress:after{
    content: '';
    display: block;
    background-color: orange;
    width: 75%;
    height: 100%;
    border-radius: 9px;
}
#progress1{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}
#progress1:after{
    content: '';
    display: block;
    background-color: orange;
    width: 60%;
    height: 100%;
    border-radius: 9px;
}
.p6{
    margin-top: 10px;
    margin-left: 10px;
}
.h-img{
    margin-top:25px;
    width: 45px;
    margin-right: 31px ;

}
.right-heading img{
    margin-right: -6px;
    background-color: orange;
    width: 31px;
    padding: 7px;
    border-radius: 17px;
    display: inline-block;
    
}
#progress2{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}
#progress2:after{
    content: '';
    display: block;
    background-color: orange;
    width: 95%;
    height: 100%;
    border-radius: 9px;
}
#progress3{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}
#progress3:after{
    content: '';
    display: block;
    background-color: orange;
    width: 55%;
    height: 100%;
    border-radius: 9px;
}
#progress4{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}
#progress4:after{
    content: '';
    display: block;
    background-color: orange;
    width: 40%;
    height: 100%;
    border-radius: 9px;
}
.p3{
    color:var(--black);  
    margin-top: 25px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}








