@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;

}
body{
    
    background:rgb(26, 26, 85);
    
}
a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 1400px;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 2s linear forwards;
    animation-delay: 1.2s;
    
   
}

@keyframes show-content {
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}
.navbar ul {
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    
}
.navbar ul li a:hover {
    color:#3d4ff0;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 2s linear forwards;
    animation-delay: 1.6s;
}

.home-info h1 {
    font-size: 35px;
}
.home-info h2 {
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    
}
.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .10px blue;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
@keyframes display-text {
    25%,100% {
        display: none;
    }
}

.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 100%;
    border-right: 0px solid blue;
    color: blue;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}
.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci {
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: blue;
    border: 2px solid blue ;
    border-radius: 40px;
    box-shadow: 0 0 10px blue;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 1s;
}
.btn:hover {
    background: transparent;
    color: #61f03d49;
    box-shadow: none;
}
.home-info .btn-sci .sci {
    margin-left: 20px;
}
.home-info .btn-sci .sci a{
     display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid blue;
    border-radius: 50px;
    font-size: 20px;
    color: blue;
    text-decoration: none;
    margin: 30px 15px 30px 0;

    
}
.home-info .btn-sci .sci a:hover {
    background: blue;
    color: #1f242d;
    box-shadow: 0 0 10px blue;
}
.home-img .img-box{
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;


    
}
.home-img .img-box .img-item{
    width: 32vw;
    height: 32vw;
    background: slateblue;
    background-image: url(img/jonah.jpg);
    border-radius: 50%;
    background-position:center;
    background-size: cover; 
    
    
    
}








